/*
React Portfolio Project - (c)2024 Lance Stubblefield
--------------------------------------------------------------------------------------
Requires Vite, React.JS, React-Router-Dom, Typescript, Tailwind CSS, PostCSS, PostCSS-custom-properties
-------------------------------------------------------------------------------------
Style sheet for contact.tsx: requires Tailwind CSS, PostCSS, PostCSS-custom-properties
######################################################################################
 */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* #################################### CONTACT ############################################ */
.contactContent {
    @apply m-auto ;
}

.contactContent h1 {
    @apply block;
}

.contactCard {
    @apply flex flex-wrap text-center;
}

.formInput {
    @apply cursor-text bg-amber-50 shadow-amber-950 shadow-sm rounded-lg ;
    color: #106aa0;
}

#formMessage {
    @apply block mx-auto bg-amber-50 shadow-amber-950 shadow-sm  rounded-lg;
    color: #106aa0;
}

#formFile {
    @apply block mx-auto bg-amber-50 mt-8 rounded-lg;
    color: #106aa0;
}

#formButton {
    @apply border-green-700 bg-green-200 text-green-600 shadow-green-900 shadow-lg  rounded-lg;
}

#clearButton {
    @apply border-orange-700 bg-orange-200 text-orange-600 shadow-orange-900 shadow-lg  rounded-lg;
}

#formButton:hover {
    transform: scale(1.05);
    @apply shadow-green-950 shadow-xl;
}

#formButton:active {
    transform: scale(.9);
    @apply shadow-green-500 shadow-sm;
}

#clearButton:hover {
    @apply shadow-orange-950 shadow-xl;
    transform: scale(1.05);
}

#clearButton:active {
    transform: scale(.9);
    @apply shadow-orange-500 shadow-sm;
}

.errorMsg {
    @apply block text-red-600 font-bold text-lg mt-0;
}

/* ########################### Media Selector ########################### */
/* ------------ Mobile View ------------ */
@media (max-width: 660px) {

    .contactContainer {
        @apply block mx-auto bg-orange-300 p-5 border-2 border-orange-600 text-orange-800 rounded-3xl;
    }

    .leftPane {
        @apply w-4/5 px-5 text-left mx-auto my-5;
        img {
            @apply hidden;
        }
    }

    .formInput {
        @apply h-16 w-5/6 mx-auto my-2 p-2;
    }

    #formMessage {
        @apply w-5/6 h-36 mt-3 mx-auto p-1;
    }

    #formButton, #clearButton {
        @apply w-32 h-12 m-2 border-2 text-lg mb-8;
    }

}

/* ------------ End Mobile ------------ */

/* ------------ Tablet View ------------ */
@media (min-width: 661px) and (max-width: 1000px) {

    .contactContainer {
        @apply flex flex-wrap w-full justify-center mt-2;
    }

    .leftPane {
        @apply w-2/5 text-left;
        img {
            @apply w-2/5;
        }
    }

    .rightPane {
        @apply w-3/5;
    }

    .formInput {
        @apply block w-full h-16 mx-auto my-3 p-2;
    }

    #formMessage {
        @apply w-full h-36 mx-auto p-2;
    }

    #formButton, #clearButton {
        @apply w-36 h-16 m-3 border-2 text-2xl;
    }

}

/* ------------ End Tablet ------------ */

/* ------------ Desktop View ------------ */
@media (min-width: 1001px) {

    .contactContainer {
        @apply flex w-4/5 mx-auto ;
    }

    .leftPane {
        @apply w-2/6 text-left ;
        img {
            @apply w-3/5;
        }
    }

    .rightPane {
        @apply w-4/6;
    }

    .formInput {
        @apply w-4/5 h-16 mx-auto mt-4 p-2;
    }

    #formMessage {
        @apply w-4/5 h-36 mx-auto mt-6 p-2;
    }

    #formButton, #clearButton {
        @apply w-36 h-12 pb-2 m-6 border-2 font-bold text-xl;
    }

}

/* ------------ End Desktop ------------ */

/* ##########------------ End Media ------------########## */
