/*
React Portfolio Project - (c)2024 Lance Stubblefield
--------------------------------------------------------------------------------------
Requires Vite, React.JS, React-Router-Dom, Typescript, Tailwind CSS, PostCSS, PostCSS-custom-properties
-------------------------------------------------------------------------------------
Style sheet for credentials.tsx: requires Tailwind CSS, PostCSS, PostCSS-custom-properties
######################################################################################
 */

.credTitle {
    @apply ml-12 text-4xl font-bold leading-tight;
    color: var(--semidark-text-color)
}

.library {
    @apply w-fit flex flex-wrap mx-auto;
}

.resumeDivider {
    @apply mx-auto my-24 w-2/3 border-4;
    border-color: var(--main-page-border-color);
}

.webcard {
    @apply block m-4 p-6 border-2 leading-loose;
    width: 340px;
    border-color: var(--imageFrame-border-color);
    background-color: var(--main-bg-light-color);
    height: 350px;
}

.webcard:hover {
    @apply bg-blue-200 text-white shadow-blue-100 shadow-lg no-underline;

    a {
        @apply no-underline;
    }
}

.webimage, .webimage2 {
    @apply mx-auto my-2 no-underline;

    img {
        @apply w-4/5 h-full mx-auto;
        object-fit: contain;
    }
}

.webimage {
    height: 260px;
}

.webimage2 {
    height: 200px;
}

.webcaption {
    @apply text-center text-3xl mt-5 leading-8 font-extrabold no-underline;
    color: var(--link-color);
}

.webcaption2 {
    @apply text-center text-2xl mt-5 leading-tight font-bold no-underline;
    color: var(--link-color);
}

.followup {
    @apply text-center text-3xl my-12 font-bold no-underline;
    color: var(--link-color);
}

/* ------------- Table ----------------- */
.divTable {
    @apply block w-11/12 border-2 mx-auto mt-24;
    background-color: var(--main-bg-xlight-color);
    border-color: var(--main-page-border-color);
    border-spacing: 5px;
}

.tblHead {
    @apply block w-full text-center text-xl font-bold leading-tight p-4;
    color: var(--semidark-text-color);
}

.tblRow {
    @apply flex flex-row h-auto w-full clear-both px-3 py-0;
}

.tblCol {
    @apply m-0;
}

.tblDivider {
    @apply block my-5 mx-auto h-1 w-10/12 border-t-2 clear-both;
    border-color: var(--main-light-border-color);
}

.tblFoot {
    @apply p-5;
}

.tblSub {
    @apply font-bold leading-tight ;
    background-color: var(--menu-bg-color);
    color: var(--light-text-color);
}


.jobPosition {
    @apply block py-2 font-bold leading-tight;
}

.jobLocation {
    @apply block py-2 italic;
}

.tblDesc {
    @apply italic;
}


/* ########################### Media Selector ########################### */
/* ------------ Mobile View ------------ */
@media (max-width: 767px) {

}

/* ------------ End Mobile ------------ */

/* ------------ Tablet View ------------ */
@media (min-width: 768px) and (max-width: 991px) {

}

/* ------------ End Tablet ------------ */

/* ------------ Desktop View ------------ */
@media (min-width: 992px) {
    .tblSub {
        @apply w-2/12 h-36 p-2 text-3xl;
    }

    .tblCol2 {
        @apply ml-4 w-3/12 h-36 py-2;
    }

    .tblCol3 {
        @apply w-3/12 h-36 py-2;
    }

    .tblInfo {
        @apply ml-4 w-5/12 p-2;
    }

    .tblDesc {
        @apply w-4/12 p-2;
    }
}


/* ------------ End Desktop ------------ */

/* ##########------------ End Media ------------########## */


