/* -------------------------------- HEADER ---------------------------------- */
.header-title {
    @apply flex flex-row w-full pt-4  relative;
    color: var(--header-text-color);
    h1 {
        @apply block w-full font-bold text-4xl;
    }
}
.headinginator{
    @apply h-fit pt-2 pl-2;
    width:60%;
}
.headName {
    @apply block w-full h-16;
}


.menuItem {
    color: var(--menu-text-color);
    @apply block w-full text-center font-bold hover:no-underline;
}

.menuItem:hover {
    @apply shadow-amber-400 shadow-lg;
    background-color: var(--menu-hover-bg-color);
    color: var(--menu-hover-text-color);
}

.menuSelected, .menuSelected:focus, .menuSelected:hover {
    @apply font-black text-center py-2 px-6 mx-6 mb-2 no-underline;
    color: var(--highlight-color);
    background-color: var(--semidark-text-color);
    /*background-color: var(--menu-selected-bg-color);*/
    /*color: var(--menu-selected-text-color);*/
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%% Hamburger Menu %%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.hamburger-menu {
    @apply w-24 h-24 ml-2 cursor-pointer;
}

.hamburger-bar {
    @apply w-full h-4 my-4;
    background-color: var(--light-text-color);
}

.hamItem {
    @apply flex w-full h-24 text-center text-3xl font-extrabold;
    @apply items-center justify-center my-0 border-y-2;
    vertical-align: middle;
    border-color: var(--main-bg-light-color)
}
.hamItem:hover {
    @apply no-underline;
    color: var(--highlight-color);
    background-color: var(--semidark-text-color);
}

/* ########################### Media Selector ########################### */
/* ------------ Mobile View ------------ */
@media (max-width: 767px) {
    .header-title {
        @apply w-full flex flex-wrap px-2;
    }
    .headImg{
        width: 100px;
    }
    .headName {
        @apply w-full ml-2;
    }

    #navBar {
        @apply hidden;
    }

    #hamIcon {
        @apply w-fit h-fit ml-64;
    }
    .hamMenu {
        @apply block w-full mx-0;
        box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .3);
    }
    .menuSelected {
        background-color: var(--menu-selected-bg-color);
        color: var(--menu-selected-text-color);
    }

    .menuItem {
        color: var(--menu-text-color);
    }

}

/* ------------ End Mobile ------------ */

/* ------------ Tablet View ------------ */
@media (min-width: 768px) and (max-width: 991px) {
    .header-title {
        @apply h-fit px-4 pb-4;
    }
    .headImg{
        width: 180px;
    }
    .headName {
        @apply  ml-4;
    }
    #navBar {
        @apply block;
    }

    .navMenu {
        @apply block w-4/5;
    }

    .menuBar {
        @apply w-fit flex flex-row absolute bottom-0;
        @apply left-48;
    }

    .menuItem {
        color: var(--menu-text-color);
        @apply block w-44 py-1 px-0 mx-0 mb-2 ;

        Link {
            @apply px-0 mx-0;
        }
    }

    .menuSelected, .menuSelected:focus, .menuSelected:hover {
        @apply block w-44;
    }

    #hamIcon, .hamMenu, .hamburger {
        @apply hidden;
    }
}

/* ------------ End Tablet ------------ */

/* ------------ Desktop View ------------ */
@media (min-width: 992px) {
    .header-title {
        @apply px-8 h-fit pb-4;
    }
    .headImg{
        width: 280px;
    }
    .headName {
        @apply  ml-8;
    }
    .navMenu {
        @apply block w-4/5;
    }

    .navMenu {
        @apply w-full;
    }

    .menuBar {
        @apply w-fit flex flex-row absolute bottom-0;
        @apply left-80;
    }

    .menuSelected, .menuSelected:focus, .menuSelected:hover {
        @apply block w-44;
    }

    .menuItem {
        color: var(--menu-text-color);
        @apply block w-44 py-2 px-3 mx-6 mb-2 ;
    }

    #hamMenu, .hamMenu, .hamburger {
        @apply hidden;
    }
}


/* ------------ End Desktop ------------ */

/* ##########------------ End Media ------------########## */

