/* -------------------------------- HEADER ---------------------------------- */
.header-title {
    @apply flex flex-row w-full pt-4  relative;
    color: var(--header-text-color);

    h1 {
        @apply font-bold text-4xl
    }

    img {
        @apply w-72 p-4;
    }
}

.headName {
    @apply block w-5/12 h-16 ml-8;
}


.menuItem {
    color: var(--menu-text-color);
    @apply text-center font-bold hover:no-underline;
}

.menuItem:hover {
    @apply shadow-amber-400 shadow-lg;
    background-color: var(--menu-hover-bg-color);
    color: var(--menu-hover-text-color);
}

.menuSelected, .menuSelected:focus, .menuSelected:hover {
    @apply font-black text-center py-2 px-6 mx-6 mb-2 no-underline;
    background-color: var(--menu-selected-bg-color);
    color: var(--menu-selected-text-color);
}

.hamburger-menu {
    @apply w-24 h-24 mb-10 cursor-pointer;
}

.hamburger-bar {
    @apply w-full h-4 my-4;
    background-color: var(--light-text-color);
}


/* ########################### Media Selector ########################### */
/* ------------ Mobile View ------------ */
@media (max-width: 767px) {
    .header-title {
        @apply w-full flex flex-wrap px-2;

        img {
            @apply w-48 p-4;
        }
    }

    .navMenu {
        @apply w-full mx-auto my-6 ;
    }

    .headName {
        @apply w-fit;
    }


    .menuBar {
        @apply block w-full mx-0 mt-6;
    }

    .menuSelected {
        background-color: var(--menu-selected-bg-color);
        color: var(--menu-selected-text-color);
    }

    .menuItem {
        color: var(--menu-text-color);
    }

    .menuSelected, .menuItem, .menuSelected:focus, .menuSelected:hover {
        @apply block w-full h-24 text-center py-2 ;
    }

    #hamburger {
        @apply w-full mt-48 text-center;
    }

    #hamMenu {
        @apply w-fit ml-24 block h-fit;
    }

}

/* ------------ End Mobile ------------ */

/* ------------ Tablet View ------------ */
@media (min-width: 768px) and (max-width: 991px) {
    .header-title {
        @apply px-4;

        img {
            @apply w-48 p-4;
        }
    }

    .navMenu {
        @apply block w-4/5;
    }

    .menuBar {
        @apply w-fit flex flex-row absolute bottom-0;
        @apply left-64;
    }

    .menuItem {
        color: var(--menu-text-color);
        @apply block w-36 py-1 px-2 mx-3 mb-2 ;
    }

    .menuSelected, .menuSelected:focus, .menuSelected:hover {
        @apply block w-44;
    }

    #hamMenu {
        @apply hidden;
    }
}

/* ------------ End Tablet ------------ */

/* ------------ Desktop View ------------ */
@media (min-width: 992px) {
    .header-title {
        @apply px-8;

        img {
            @apply w-64 p-4;
        }
    }

    .navMenu {
        @apply w-full;
    }

    .menuBar {
        @apply w-fit flex flex-row absolute bottom-0;
        @apply left-80;
    }

    .menuSelected, .menuSelected:focus, .menuSelected:hover {
        @apply block w-44;
    }

    .menuItem {
        color: var(--menu-text-color);
        @apply block w-44 py-2 px-3 mx-6 mb-2 ;
    }

    #hamMenu {
        @apply hidden;
    }
}


/* ------------ End Desktop ------------ */

/* ##########------------ End Media ------------########## */

