
#slides {
    position: relative;
    /*height: 300px;*/
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    /*-webkit-transition: opacity 1s;*/
    /*-moz-transition: opacity 1s;*/
    /*-o-transition: opacity 1s;*/
    /*transition:  ease-out 2s;*/
    animation: left-to-right 1s linear reverse;
}

.showing {
    opacity: 1;
    z-index: 2;
}

@keyframes left-to-right{
    from{left:-100%}
    to{left:0}
}
