@tailwind base;
@tailwind components;
@tailwind utilities;

#slides {
    @apply relative p-0 m-0;
    list-style-type: none;
}

.slide {
    @apply absolute top-0 left-0 w-full h-full opacity-0;
    z-index: 1;

    transition: ease-in-out 1s;
    animation: left-to-right 1s linear reverse;
}

.showing {
    opacity: 1;
    z-index: 2;
}

@keyframes left-to-right{
    from{left:-100%}
    to{left:0}
}
